.nav-link {
    background-color: white; /* Color blanco por defecto */
    color: gray; /* Color de texto por defecto */
    transition: background-color 0.3s ease; /* Transición suave */
}

.nav-link.active {
    background-color:  #57348b; /* Color morado cuando está activo */
    color: white; /* Color de texto en blanco cuando está activo */
    font-weight: bold;
}

.nav-link:hover {
    background-color: lightpurple; /* Color al pasar el mouse (opcional) */
}
.contenedor-cuadro {
    margin-top: 10px; /* Ajustar según sea necesario */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.content-wrapper {
    background-color: #ffffff; /* Fondo blanco para el contenedor */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%; /* Ajusta el ancho según tus necesidades */
    max-width: 1200px; /* Ancho máximo */
}