<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="bg-general"><!--Div bg general inicio-->
    <div class="container mt-4 ">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mb-3">TRÁMITES</h3>
                <div class="d-flex justify-content-between mb-3">
                    <div class="d-flex">
                        <input type="date" class="form-control me-2" placeholder="Desde">
                        <input type="date" class="form-control me-2" placeholder="Hasta">
                        <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </div>
                   <!-- <button class="btn btn-outline-primary"><i class="fa fa-download"></i> Exportar</button>-->
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Folio</th>
                            <th>Solicitante</th> 
                            <th>Trámite</th>
                            <th>Estatus</th>
                            <th>Creado</th>
                            <th>Último movimiento</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tramite of tramites">
                            <td>{{ tramite.folio }}</td>
                            <td>{{ tramite.nombreUsuario }}</td> <!-- Aquí se usa sentri -->
                            <td class="text-primary">{{ tramite.eltramite }}</td> <!-- Aquí se usa procedure_name -->
                            <td>
                                <span [ngClass]="{
                                    'badge bg-success': tramite.estatus === 'Asignado a asesor',
                                    'badge bg-warning': tramite.estatus === 'Trámite pre-autorizado',
                                    'badge bg-danger': tramite.estatus === 'Documento(s) rechazado(s)',
                                    'badge bg-info': tramite.estatus === 'Cita agendada',
                                    'badge bg-light': tramite.estatus === 'Terminado',
                                    'badge bg-black': tramite.estatus === 'Proceso cancelado',
                                    'badge bg-secondary': tramite.estatus === 'Iniciado'
                                }">
                                    {{ tramite.estatus }} 
                                </span>
                            </td>
                            <td>{{ tramite.creadoEn | date: 'dd MMM yyyy' }}</td>
                            <td>{{ tramite.ultimoMovimiento | date:'dd MMM yyyy' }}</td> 
                            <td><button class="btn btn-outline-secondary"><i class="fa fa-eye"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!--Div bg general fin-->
