<div class="container-fluid bg-white" style="height: 100vh; display: flex; align-items: center; justify-content: center; border-radius: 20px;">
    <div class="container border border-gray" style="max-width: 800px;">  <!-- Añadido borde negro -->
      <div class="row">
        <div class="col-9">
          <h1>Noticias</h1>
        </div>
        <div class="col-1">
          <button class="btn btn-light btn-sm"><i class="fa fa-search"></i></button>
        </div>
        <div class="col-1">
            <button class="btn btn-light btn-sm"><i class="fa fa-plus">Agregar</i></button>
        </div>
        <div class="col-1">
            <button class="btn btn-light btn-sm">Exportar</button>
        </div>
      </div>
      <div class="row 1 border border-gray">
        <div class="col-8">
          <p>Titulo</p>
        </div>
        <div class="col-2">
          <p>Fecha de alta</p>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row 2 border border-gray bg-light">
        <div class="col-8">
          <p>1 of 3</p>
        </div>
        <div class="col-2">
          <p>2 of 3</p>
        </div>
        <div class="col-2">
            <div class="row">
            <div class="col-4"><button class="btn btn-light btn-sm"><i class="fa fa-eye"></i></button></div>
            <div class="col-4"><button class="btn btn-light btn-sm"><i class="fa fa-search"></i></button></div>
            <div class="col-4"><button class="btn btn-light btn-sm"><i class="fa fa-trash"></i></button></div>
        </div>
        </div>
      </div> <!--Fin del row-->
      <div class="row 2 border border-gray">
        <div class="col-8">
          <p>1 of 3</p>
        </div>
        <div class="col-2">
          <p>2 of 3</p>
        </div>
        <div class="col-2">
            <div class="row">
            <div class="col-4"><button class="btn btn-light btn-sm"><i class="fa fa-eye"></i></button></div>
            <div class="col-4"><button class="btn btn-light btn-sm"><i class="fa fa-search"></i></button></div>
            <div class="col-4"><button class="btn btn-light btn-sm"><i class="fa fa-trash"></i></button></div>
        </div>
        </div>
      </div> <!--Fin del row-->
      <div class="row 2 border border-gray bg-light">
        <div class="col-8">
          <p>1 of 3</p>
        </div>
        <div class="col-2">
          <p>2 of 3</p>
        </div>
        <div class="col-2">
            <div class="row">
            <div class="col-4"><button class="btn btn-light btn-sm"><i class="fa fa-eye"></i></button></div>
            <div class="col-4"><button class="btn btn-light btn-sm"><i class="fa fa-search"></i></button></div>
            <div class="col-4"><button class="btn btn-light btn-sm"><i class="fa fa-trash"></i></button></div>
        </div>
        </div>
      </div> <!--Fin del row-->
      <div class="row 2 border border-gray">
        <div class="col-8">
          <p>1 of 3</p>
        </div>
        <div class="col-2">
          <p>2 of 3</p>
        </div>
        <div class="col-2">
            <div class="row">
            <div class="col-4"><button class="btn btn-light btn-sm"><i class="fa fa-eye"></i></button></div>
            <div class="col-4"><button class="btn btn-light btn-sm"><i class="fa fa-search"></i></button></div>
            <div class="col-4"><button class="btn btn-light btn-sm"><i class="fa fa-trash"></i></button></div>
        </div>
        </div>
      </div> <!--Fin del row-->
      <div class="row 2 border border-gray bg-light">
        <div class="col-8">
          <p>1 of 3</p>
        </div>
        <div class="col-2">
          <p>2 of 3</p>
        </div>
        <div class="col-2">
            <div class="row">
            <div class="col-4"><button class="btn btn-light btn-sm"><i class="fa fa-eye"></i></button></div>
            <div class="col-4"><button class="btn btn-light btn-sm"><i class="fa fa-search"></i></button></div>
            <div class="col-4"><button class="btn btn-light btn-sm"><i class="fa fa-trash"></i></button></div>
        </div>
        </div>
      </div> <!--Fin del row-->
      <div class="row 2 border border-gray">
        <div class="col-8">
          <p>1 of 3</p>
        </div>
        <div class="col-2">
          <p>2 of 3</p>
        </div>
        <div class="col-2">
            <div class="row">
            <div class="col-4"><button class="btn btn-light btn-sm"><i class="fa fa-eye"></i></button></div>
            <div class="col-4"><button class="btn btn-light btn-sm"><i class="fa fa-search"></i></button></div>
            <div class="col-4"><button class="btn btn-light btn-sm"><i class="fa fa-trash"></i></button></div>
        </div>
        </div>
      </div> <!--Fin del row-->
    </div>
  </div>  
  