<div class="container mt-4">
  <h3>Transmisiones en Vivo</h3>

  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-outline-white" (click)="abrirModal()">Agregar</button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre del video</th>
        <th scope="col">URL</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let video of bridgeLiveCams; let i = index">
        <td>{{ video.cam_title }}</td>
        <td><a [href]="video.cam_frame" target="_blank">{{ video.cam_frame }}</a></td>
        <td>
          <button class="btn btn-outline-white me-2" (click)="editarVideo(i)">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-outline-white" (click)="confirmarEliminar(i)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal para agregar video -->
  <div class="modal fade" id="agregarVideoModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Video</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="publicidadForm">
            <div class="mb-3">
              <label for="tituloInput" class="form-label">Título</label>
              <input type="text" id="tituloInput" class="form-control" formControlName="nombreVideo" required />
            </div>
            <div class="mb-3">
              <label for="urlInput" class="form-label">URL</label>
              <input type="url" id="urlInput" class="form-control" formControlName="url" required />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="agregarVideo()" style="background-color: #008fa7; border-color: white;">
            <i class="fa fa-search"></i> Aceptar
          </button>
          <button type="button" class="btn btn-outline-white" data-bs-dismiss="modal">
            <i class="fas fa-times"></i> Volver
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de aviso -->
  <div class="modal fade" id="avisoModal" tabindex="-1" aria-labelledby="avisoModalTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="avisoModalTitle">Aviso</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">El video se ha agregado exitosamente.</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para confirmar eliminación -->
  <div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="eliminarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eliminarModalLabel">Eliminar Video</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de que deseas eliminar este video?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="eliminarVideo()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>
