<!-- src/app/parametros-cobro/parametros-cobro.component.html -->

<!-- ngFor para iterar sobre cada puente en bridgeRates -->
<div *ngFor="let bridge of bridgeRates">
  <h3>Puente: {{ bridge.bridge_name }}</h3>

  <div>
    <label>Anualidad MX</label>
    <input [(ngModel)]="bridge.annual_fee_mx"/>

    <label>Renovación MX</label>
    <input [(ngModel)]="bridge.annual_renew_fee_mx"/>
  </div>
    
  <div>
    <label>Anualidad US</label>
    <input [(ngModel)]="bridge.annual_fee_us"/>

    <label>Renovación US</label>
    <input [(ngModel)]="bridge.annual_renew_fee_us"/>
  </div>
</div>

<!-- Input para el Pago Mínimo fuera del ngFor -->
<div>
  <h3>Parametros Telepeaje</h3>
  <label>Pago mínimo</label>
  <input [(ngModel)]="prepayMinimumAmount" />
</div>
