<!-- src/app/parametros-cobro/parametros-cobro.component.html -->
<div class="container mt-4">
  <h2 class=" mb-4">Parámetros de Cobro</h2>

  <!-- ngFor para iterar sobre cada puente en bridgeRates -->
  <div *ngFor="let bridge of bridgesConfig" class=" p-4 mb-4 rounded shadow-sm">
    <h3 class="text-Dark">{{ bridge.bridge_name }}</h3>

    <div class="row mb-3">
      <div class="col-md-6">
        <label>Anualidad MX</label>
        <input [(ngModel)]="bridge.annual_fee_mx" class="form-control" />
      </div>
      <div class="col-md-6">
        <label>Renovación MX</label>
        <input [(ngModel)]="bridge.annual_renew_fee_mx" class="form-control" />
      </div>
    </div>

  </div>

  <!-- Input para el Pago Mínimo fuera del ngFor -->
  <div class=" p-4 rounded shadow-sm">
    <h3 class="text-Dark">Parámetros Telepeaje</h3>
    <label>Pago mínimo</label>
    <input [(ngModel)]="prepayMinimumAmount" class="form-control" />
  </div>
</div>
