.modal-content {
    border: none; /* Eliminar el borde del contenido del modal */
  }
  
  .modal-header{
    border: none; /* Eliminar los bordes de cada sección */
  }
  .modal-dialog{
    border:none;
  }
  .modal-body{
    padding-bottom: 0;
    padding-top: 0;
  }
  .modal-footer {
    border: none; /* Eliminar los bordes de cada sección */
    margin: 0;
    padding-top: 0; /* Eliminar márgenes */
    /*padding: 0; Ajustar el padding si es necesario */
  }