.bg-general {
  background-color: #f2f5ff; /* Cambia este color si lo prefieres */
  height: calc(100vh - 60px); /* Altura restante después del header */
  margin-left: 250px; /* Ajusta esto al ancho de tu sidebar */
  display: flex; /* Alinea los elementos hijos */
  flex-direction: column; /* Los elementos van de arriba hacia abajo */
  justify-content: space-between; /* Ajusta los elementos para que no se amontonen */
  padding: 0; /* Elimina padding para evitar desbordamiento */
  overflow: auto; /* Permite scroll interno si es necesario */
    padding: 5px;
    min-height: 10vh;
    display: flex;
    align-items: center;
    padding-top: 0px; /* Reducir margen superior */
}
html, body {
  margin: 0; /* Elimina márgenes por defecto */
  padding: 0; /* Elimina padding por defecto */
  height: 100%; /* Asegura que el body ocupe toda la altura */
  overflow:visible; /* Oculta cualquier scroll */
} 
.modal-content {
  border: none; /* Eliminar el borde del contenido del modal */
}

.modal-header{
  border: none; /* Eliminar los bordes de cada sección */
}
.modal-dialog{
  border:none;
}
.modal-body{
  padding-bottom: 0;
  padding-top: 0;
}
.modal-footer {
  border: none; /* Eliminar los bordes de cada sección */
  margin: 0;
  padding-top: 0; /* Eliminar márgenes */
  /*padding: 0; Ajustar el padding si es necesario */
}
