<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="bg-general">
  <div class="container mt-5">
    <!-- Contenedor para Filtros de Fecha y Contadores de Usuarios -->
    <div class="top-section">
      <!-- Filtros de Fecha encima de los contadores -->
      <div class="date-filters d-flex gap-3 justify-content-start mb-3">
        <div class="date-picker">
          <label>Desde:</label>
          <input type="date" [(ngModel)]="startDate">
        </div>
        <div class="date-picker">
          <label>Hasta:</label>
          <input type="date" [(ngModel)]="endDate">
        </div>
      </div>

      <!-- Contadores de Usuarios -->
      <div class="user-counters d-flex gap-3">
        <a class="item" routerLink="/usuarios-de-panel-web">
        <div class="counter-box">
          <i class="fa fa-desktop"></i>
          <h3>Usuarios web</h3>
          <p>{{ webUserCount }} Usuarios</p>
        </div>
        </a>
        <a class="item" routerLink="/usuarios-de-app-movil">
        <div class="counter-box">
          <i class="fa fa-mobile-alt"></i>
          <h3>Usuarios app</h3>
          <p>{{ appUserCount }} Usuarios</p>
        </div>
        </a>
      </div>
    </div>

    <!-- Botones de Acción en la Parte Superior Derecha -->
    <div class="action-buttons d-flex gap-3 justify-content-end mt-4">
      <button class="action-btn recargas"><i class="fa fa-dollar-sign"></i> Recargas</button>
      <button class="action-btn saldo"><i class="fa fa-credit-card"></i> Saldo Telepeaje</button>
      <button class="action-btn info"><i class="fa fa-gem"></i> Info Línea Exprés</button>
    </div>
  </div>
</div>


<!-- Modal para Ambiente de Pruebas -->
<div class="modal fade" id="pruebaModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 15px;">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Ambiente de pruebas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex align-items-center">
        <div class="col-1 me-2">
          <i class="fas fa-warning"></i>
        </div>
        <p class="fw-light">Este es un ambiente de pruebas, los cambios aquí no afectan producción.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary fw-bold" style="background-color: rgb(229, 00, 105); border-radius: 10px; border-color: rgb(192, 4, 92)" data-bs-dismiss="modal">
          <i class="fas fa-check"></i> Aceptar
        </button>
      </div>
    </div>
  </div>
</div>