<div class="container mt-4">
    <h3>Horarios de atención</h3>
    <div class="row">
      <div class="col-md-3">
        <label for="horaInicio">Horarios de atención</label>
        <select id="horaInicio" class="form-select">
          <option selected>08:00 a. m.</option>
          <option>09:00 a. m.</option>
          <option>10:00 a. m.</option>
          <option>11:00 a. m.</option>
          <!-- Agrega más opciones según sea necesario -->
        </select>
      </div>
      <div class="col-md-3">
        <label for="horaFin">Horarios de atención</label>
        <select id="horaFin" class="form-select">
          <option selected>08:00 p. m.</option>
          <option>09:00 p. m.</option>
          <option>10:00 p. m.</option>
          <option>11:00 p. m.</option>
          <!-- Agrega más opciones según sea necesario -->
        </select>
      </div>
    </div>
  
   
  </div>