.sidebar {
  width: 250px;
  background-color: #22396b;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  font-weight:400;
  padding: 20px;
}

.sidebar img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
}

.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.sidebar ul li a:hover {
  padding: 5px;
  border-radius: 5px;
  background-color: #1d315c; /* Cambia el color al pasar el ratón */
}
.modal-content {
  border: none; /* Eliminar el borde del contenido del modal */
}

.modal-header{
  border: none; /* Eliminar los bordes de cada sección */
}
.modal-body{
  padding-bottom: 0;
  padding-top: 0;
}
.modal-footer {
  border: none; /* Eliminar los bordes de cada sección */
  margin: 0;
  padding-top: 0; /* Eliminar márgenes */
  /*padding: 0; Ajustar el padding si es necesario */
}
.submenu {
  margin-left: 20px; /* Espaciado para diferenciar del menú principal */
  list-style: none;
  padding-left: 0;
}

.submenu li a {
  font-size: 0.9rem;
  color: #555;
  text-decoration: none;
}

.submenu li a:hover {
  color: #007bff;
}