


/* Asegurar que la tabla no se desborde */
.table-responsive {
  width: 100%;
  overflow-x: auto;
}

/* Ajustar botones para que no se desborden */
.btn-sm {
  white-space: nowrap;
}

/* Asegurar que los iconos y botones se vean bien */
.btn-outline-primary, .btn-outline-secondary {
  padding: 5px 10px;
}
.content-wrapper {
  background-color: #ffffff; /* Fondo blanco para el contenedor */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%; /* Ajusta el ancho según tus necesidades */
  max-width: 1200px; /* Ancho máximo */
}
